@media screen and (max-width: 430px) {
	.navbar {
		background-color: #00699d !important;
	}

	li.nav-item {
		border-bottom: 0.125rem solid #5fa1c2;
		display: flex;
		height: 8.4375rem;
		justify-content: center;
		margin: 0 auto;
		width: 6rem;
	}

	li.nav-item:nth-child(4) {
		border-bottom: none;
	}

	.nav-link {
		padding: 4.0625rem 0 2.1875rem 0;
	}

	.navbar-light .navbar-nav .nav-link {
		color: #fff;
	}

	.btn-custom {
		display: flex;
		justify-content: center;
		margin-bottom: 3.5rem;
	}

	.cover {
		object-fit: cover;
		height: 9.6875rem;
		width: 13.375rem;
	}

	.title {
		color: #bfd83a;
		margin: 0.875rem 0 0.25rem 2.25rem;
	}

	.text-grey {
		color: #c2c2c2;
		line-height: 1.1rem;
		margin: 0 0 0 2.25rem;
	}

	.solution {
		background-color: #dcdfe6;
		border-radius: 1.5rem;
		margin: 1.75rem 1.6875rem 1.75rem 2.25rem;
		padding-bottom: 1.875rem;
	}

	.title-solution {
		color: #006b77;
		padding: 0.625rem 0 1.25rem 2.25rem;
	}

	.solution select {
		border-radius: 1rem;
		margin-left: 2rem;
	}

	.solution img {
		margin-left: 1.625rem;
		justify-content: center;
	}

	.box-solution {
		background-color: #f5f5f5;
		border-radius: 1.5rem;
		margin: 0 2.6875rem 0.625rem 2.6875rem;
	}

	.box-solution-title {
		color: #707070;
		padding: 2.5rem 0 0.8125rem 1rem;
	}

	.box-solution-text {
		color: #949494;
		padding-left: 1rem;
	}

	.btn-box-solution {
		background-color: #006b77;
		border-radius: 1rem;
		color: #f7fafb;
		font-size: 0.75rem;
		height: 1.75rem;
		line-height: 0.8rem;
		margin: 1.4375rem 0.75rem 1.5625rem 0;
		width: 7.25rem;
	}

	.btn-show-more {
		border: #bfd83a solid 0.1rem;
		border-radius: 1.5rem;
		color: #bfd83a;
		height: 1.8125rem;
		line-height: 0.8rem;
		margin: 1.75rem 0 3.5rem 0;
	}

	.benefits {
		background-color: #006b77;
		padding-bottom: 5rem;
	}

	.benefits-title {
		color: #accd3f;
		display: flex;
		justify-content: center;
		padding: 2.9375rem 0 2.375rem 0;
	}

	.benefits-text {
		color: #fff;
		line-height: 1.3rem;
		padding: 0 2.875rem 0 2.5rem;
	}

	.faq {
		margin-bottom: 3.625rem;
	}

	.faq-title {
		color: #006b77;
		padding: 3.5rem 0 2.5rem 2.1875rem;
	}

	.faq-text {
		color: #949494;
		padding: 0 0 0 2.1875rem;
	}

	.footer {
		background-color: #000;
		padding: 1.6875rem 1.9375rem 1.6875rem 1.4375rem;
	}

	.footer-text {
		color: #fff;
		font-size: 0.625rem;
	}
}
